<div class="uk-lightbox uk-overflow-hidden uk-lightbox-panel uk-open">
    <div class="saga-player uk-background-contain uk-background-secondary uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle">
            <img src="./assets/images/icon.jpg" />
    </div>
    <div class="saga-player-control-overlay" >
        <div class="saga-gradient-header">
            <span class="saga-padding-16px saga-color-white"><i uk-icon="icon: arrow-left; ratio:4" (click)="onBack()"></i></span>
            
        </div>
        <div class="saga-gradient-body">

        </div>
        <div class="saga-gradient-footer">
            
             <div class="saga-player-controls">
                    <div class="saga-player-seek">
                            <div class="saga-player-progress"></div>
                        </div>
                    <div class="saga-padding-16px">
                            <span class="saga-padding-16px"><img  width=60 src="./assets/images/icons/play-button-1.svg"/></span>
                            <span class="saga-padding-16px"><img  width=60 src="./assets/images/icons/circular-arrow-right.svg"/></span>
                        <span class="saga-padding-16px"><img  width=60 src="./assets/images/icons/left-arrow.svg"/></span>
                        <span class="saga-padding-16px"><img  width=60 src="./assets/images/icons/right-arrow.svg"/></span>
                        <span class="saga-padding-16px saga-player-timer">15:15:15</span>
                      </div>
             </div>

        </div>
    </div>
</div>