<nav class="uk-background-secondary uk-margin" uk-navbar="mode:click;">
  <div class="nav-overlay uk-navbar-left">
    <a class="uk-navbar-item uk-logo" href="#">LG</a>
    <ul class="uk-navbar-nav">
      <li><a href="#">Кино</a></li>
      <li><a href="#">ТВ Цуврал</a></li>
      <li class="saga-mobile-hide"><a href="#">DC</a></li>
      <li class="saga-mobile-hide"><a href="#">Marvel</a></li>
    </ul>
  </div>
  <div class="nav-overlay uk-navbar-right">
    <a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
  </div>
  <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
    <div class="uk-navbar-item uk-width-expand">
      <form class="uk-search uk-search-navbar uk-width-1-1">
        <input class="uk-search-input" type="search" placeholder="Хайх..." autofocus>
      </form>
    </div>
    <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
  </div>
  <ul class="nav-overlay uk-navbar-nav ">
    <li *ngIf="!(currentUser && currentUser.username)"><a href="#login-modal" class="uk-text-lowercase" uk-toggle>Нэвтрэх</a></li>
    <li class="saga-mobile-hide" *ngIf="currentUser && currentUser.username">
      <a class="uk-text-lowercase" href="#">{{currentUser.username}}</a>
      <div class="uk-navbar-dropdown">
        <ul class="uk-nav uk-navbar-dropdown-nav">
          <li class="uk-nav-header">Миний дуртай</li>
          <li><a href="#">DC</a></li>
          <li class="uk-nav-header">Тохиргоо</li>
          <li><a href="/profile">Хувийн мэдээлэл</a></li>
          <li><a href="#">Төлбөрийн мэдээлэл</a></li>
          <li class="uk-nav-divider"></li>
          <li><a (click)="logout()">Системээс гарах</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>

<div id="login-modal" uk-modal>
  <div class="uk-modal-dialog">
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Нэвтрэх</h2>
    </div>
    <div class="uk-modal-body">
      <form [formGroup]="authForm" (ngSubmit)="submitForm()">
        <fieldset class="uk-fieldset">
          <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
              <a class="uk-form-icon" href="#" uk-icon="icon: user"></a>
              <input class="uk-input " [ngClass]="{'uk-form-danger':errors.errors.error}" type="text" formControlName="username"
                placeholder="Хэрэглэгчийн нэр">
            </div>
          </div>
          <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
              <a class="uk-form-icon" href="#" uk-icon="icon: lock"></a>
              <input class="uk-input" [ngClass]="{'uk-form-danger':errors.errors.error}" type="password" formControlName="password"
                placeholder="Нууц үг">
            </div>
          </div>
          <div *ngIf="errors.errors.error" class="uk-text-danger">
            <span *ngIf="errors.errors.error.error==='invalid_grant'">Хэрэглэгчийн нэр эсвэл нууц үг буруу байна</span>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Болих</button>
      <button class="uk-button uk-button-primary" type="submit" (click)="submitForm()">Нэвтрэх</button>
    </div>
  </div>
</div>