<div class="uk-container uk-background-secondary" *ngIf="userForm">
    <form class="uk-form-horizontal uk-margin-large" [formGroup]="userForm">
        <legend class="uk-legend">Хувийн мэдээлэл</legend>
        <div class="uk-margin">
            <label class="uk-form-label">Хэрэглэгчийн нэр</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" placeholder="" formControlName="username">
            </div>
        </div>
    
        <div class="uk-margin">
            <label class="uk-form-label">Цахим хаяг</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" placeholder=""  formControlName="email">
            </div>
        </div>
    
    </form>
</div>