<div class="">

  <div class="uk-section uk-section-secondary uk-light">
    <div class="uk-margin-small-left">
      <h3>Дуртай жагсаалт</h3>
      <perfect-scrollbar class="saga-scrolling-wrapper" >
          <div class="saga-card"><img src="./assets/images/icon.jpg"/>
            <div class="saga-card-background uk-transition-fade" (click)="toWatch()"></div>
          </div>
          <div class="saga-card"><img src="./assets/images/icon.jpg"/>
            <div class="saga-card-background"></div>
          </div>
          <div class="saga-card"><img src="./assets/images/icon.jpg"/>
            <div class="saga-card-background"></div>
          </div>
          <div class="saga-card"><img src="./assets/images/icon.jpg"/>
            <div class="saga-card-background"></div>
          </div>
          <div class="saga-card"><img src="./assets/images/icon.jpg"/>
            <div class="saga-card-background"></div>
          </div>
          <div class="saga-card"><img src="./assets/images/icon.jpg"/>
            <div class="saga-card-background"></div>
          </div>
          <div class="saga-card"><img src="./assets/images/icon.jpg"/>
            <div class="saga-card-background"></div>
          </div>
          <div class="saga-card"><img src="./assets/images/icon.jpg"/>
            <div class="saga-card-background"></div>
          </div>
      </perfect-scrollbar>
    </div>
  </div>
  <div class="uk-section uk-section-secondary uk-light">
    <div class="uk-margin-small-left">
      <h3>Үргэлжүүлэн үзэх</h3>
      <perfect-scrollbar class="saga-scrolling-wrapper">
          <div class="saga-card"><img src="./assets/images/icon.jpg"/>
            <div class="saga-card-background"></div>
          </div>
          <div class="saga-card"><img src="./assets/images/icon.jpg"/>
            <div class="saga-card-background"></div>
          </div>
          <div class="saga-card"><img src="./assets/images/icon.jpg"/>
            <div class="saga-card-background"></div>
          </div>
          <div class="saga-card"><img src="./assets/images/icon.jpg"/>
            <div class="saga-card-background"></div>
          </div>
          <div class="saga-card"><img src="./assets/images/icon.jpg"/>
            <div class="saga-card-background"></div>
          </div>
          <div class="saga-card"><img src="./assets/images/icon.jpg"/>
            <div class="saga-card-background"></div>
          </div>
          <div class="saga-card"><img src="./assets/images/icon.jpg"/>
            <div class="saga-card-background"></div>
          </div>
          <div class="saga-card"><img src="./assets/images/icon.jpg"/>
            <div class="saga-card-background"></div>
          </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>